<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nails Glow</title>
    <link rel="stylesheet" href="../css/estilosProducto.css">
</head>

<body>
    <!--menu navegación-->
    <header id="inicio">
        <nav class="menu">
            <div class="cajaLogo">
                <a href="../index.html"><img class="logo" src="../images/logo%20proyecto.png" alt="logo" width="500"
                        height="144"></a>
            </div>
            <div class="lista-contenido">
                <ul class="lista">
                    <li><a href="../index.html">Índice</a></li>
                    <li><a href="#" class="activo">Producto</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
        <!--banner-->
        <div class="banner">
            <div class="boton">
                <div>
                    <button>Comprar</button>
                </div>
            </div>
        </div>
    </header>
    <!--producto-->
    <main>
        <div>
            <section class="cajaUno">
                <!--titulo 1-->
                <div class="esmalteTitulo">
                    <h2>Productos</h2>
                </div>
                <!--fila uno-->
                <div class="cajaGaleria">
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/coral.jpg" alt="esmaltecoral" width="1500" height="1500">
                        </div>
                        <div class="coral">
                            <h3>Esmalte permanente mini 5ml Coral Cove<br>#052</h3>
                        </div>
                        <div class="precio">
                            <span>4,99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/dania.jpg" alt="esmaltedania" width="1500" height="1500">
                        </div>
                        <div class="coral">
                            <h3>Esmalte permanente mini 5ml Dania<br>#052</h3>
                        </div>
                        <div class="precio">
                            <span>4,99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/fuzzy.jpg" alt="esmaltecfuzzy" width="1500" height="1500">
                        </div>
                        <div class="coral">
                            <h3>Esmalte permanente mini 5ml Fuzzy Peach<br>#052</h3>
                        </div>
                        <div class="precio">
                            <span>4,99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/riviera.jpg" alt="esmalteriviera" width="1500" height="1500">
                        </div>
                        <div class="coral">
                            <h3>Esmalte permanente mini 5ml Riviera<br>#052</h3>
                        </div>
                        <div class="precio">
                            <span>4,99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                </div>
                <!--fila dos-->
                <div class="cajaGaleria">
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/pack4.jpeg" alt="imagenpack4" width="600" height="600">
                        </div>
                        <div class="coral">
                            <h3>Pack esmalte permanente LOVE IS SPRING 5 ml<br>(5 unidades)</h3>
                        </div>
                        <div class="precio">
                            <span>23.99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/pack5.jpeg" alt="imagenpack5" width="600" height="600">
                        </div>
                        <div class="coral">
                            <h3>Pack esmalte permanente LOVE IS SPRING 10 ml<br>(5 unidades)</h3>
                        </div>
                        <div class="precio">
                            <span>34.99</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/kitesmalte1.jpeg" alt="esmaltekit1" width="600" height="600">
                        </div>
                        <div class="coral">
                            <h3>Kit principienate esmalte permanente<br>Lámpara 24W</h3>
                        </div>
                        <div class="precio">
                            <span>38.00</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                    <div class="tiendaUno">
                        <div class="imagenTienda">
                            <img src="../images/kitprofesional.jpeg" alt="esmaltekit" width="600" height="600">
                        </div>
                        <div class="coral">
                            <h3>Kit profesional esmalte permanente<br>Lámpara 48W</h3>
                        </div>
                        <div class="precio">
                            <span>29.55</span>
                            <span>€</span>
                        </div>
                        <div class="botonTienda">
                            <button class="botonPrecio">Añadir a la cesta</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--titulo 2-->
            <section>
                <!--Galeria-->
                <div class="esmalteTitulo">
                    <h2>Inspiración</h2>
                </div>
                <div class="galeria">
                    <div class="cajaImagenes">

                        <div class="imagen">
                            <img src="../images/gal1.jpg" alt="gal1" width="1080" height="1115">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal2.jpg" alt="gal2" width="800" height="1200">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal3.jpeg" alt="gal3" width="191" height="264">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal4.jpeg" alt="gal4" width="200" height="251">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal5.jpg" alt="gal5" width="236" height="236">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal6.jpeg" alt="gal6" width="194" height="259">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal7.jpeg" alt="gal7" width="185" height="272">
                        </div>
                        <div class="imagen">
                            <img src="../images/gal8.jpeg" alt="gal8" width="182" height="276">
                        </div>

                        <div class="popupImagen">
                            <span>&times;</span>
                            <img src="../images/gal1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!--footer-->
    <footer>
        <div class="cajaFooter">
            <div class="cajaAtencion">
                <h4>ATENCIÓN AL CLIENTE</h4>
                <p>Av. Severo Ochoa 27</p>
                <p>Teléfono: (+34) 617255191</p>
                <p>Email: tienda@nailglow</p>
            </div>
            <div class="cajaAviso">
                <h4>INFORMACIÓN LEGAL</h4>
                <P>Aviso legal</P>
            </div>
            <div class="cajaRedes">
                <h4>SIGUENOS</h4>
                <div class="logoRedes">
                    <a href="https://www.instagram.com/">
                        <img src="../images/instagram.png" alt="logo instagram" width="60" height="60">
                    </a>
                    <a href="https://www.facebook.com/">
                        <img src="../images/facebook.png" alt="logo facebook" width="60" height="60">
                    </a>
                    <a href="https://www.pinterest.es/">
                        <img src="../images/pinterest.png" alt="logo pinteres" width="60" height="60">
                    </a>
                    <a href="https://www.youtube.com/">
                        <img src="../images/youtube.png" alt="logo youtube" width="60" height="60">
                    </a>
                </div>
            </div>

        </div>
    </footer>
    <script src="../js/producto.js"></script>
</body>
</html>